* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #222;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
}

header .logo{
    font-size: 1.5rem;
    font-weight: 600;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    color: #f39c12;
}

#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in;
}

#hero .btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #222;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#hero .btn:hover {
    background: #f39c12;
}

#about {
    padding: 60px 20px;
    text-align: center;
}

#about img.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin: 20px 0;   
}

#work  {
    padding: 60px 20px;
    text-align: center;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); 
}

.card img {
    width: 100%;
    border-radius: 10px;
}

#contact {
    padding: 60px 20px;
    text-align: center;
    background: #f4f4f4;
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 10px;
}

#contact input,
#contact textarea,
#contact button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact button:hover {
    background: #fff;
    cursor: pointer;
}

#contact button:hover {
    background: #f39c12;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: #fff;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(-20px);}
    to{opacity: 1; transform: translateY(0);}
}